<div class="jumbotron">
    <h1>Contoso Bank API</h1>
    <p class="lead">Welcome to the documentation site for the Contoso Bank API. The Contoso Bank API is a protected, RESTful API for applications to interact with Contoso Bank. The Contoso Bank API makes it easy to build applications that interact with Contoso Bank, including browser and mobile applications.</p>
    <p><a href="Help" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>Explore our API using Swagger and our API documentation</p>
        <p><a class="btn btn-default" href="Swagger">Swagger &raquo;</a>&emsp;<a class="btn btn-default" href="Help">API Help &raquo;</a></p>    
    </div>
    <div class="col-md-4">
        <h2>Client libraries</h2>
        <p>A variety of client libraries are available for consuming the Contoso Bank API.</p>
        <p><a class="btn btn-default" href="http://someurl.com">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Security</h2>
        <p>Contoso Bank API is secured using HTTPS, OpenID Connect, and OAuth2.</p>
        <p><a class="btn btn-default" href="http://someurl.com">Learn more &raquo;</a></p>
    </div>
</div>
